html, body {
    width: 100%;
    height: 100%;
}

* {
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: monospace;
    font-size: 1.25rem;
}

body {
    background-color: black;
}

body {
    display: flex;
    flex-direction: column;
}

#output-parent {
    flex: 27;
}

#output {
    width: 512px;
    height: 512px;
    position: relative;
    top: 50%;
    left: 50%;
    margin: -256px 0 0 -256px;
}

#code-parent {
    flex: 13;
    text-align: center;
}

#code {
    background: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 7px;
    width: 720px;
    border-radius: 5px;
    background: #0a0a0a;
}

#options {
    margin-top: 20px;
}

.red {
    background-color: #ff000077!important;
}

span {
    white-space: pre;
}

#speed {
    width: 300px;
}

#comment {
    display: block;
    margin-bottom: 20px;
    color: #F24;
    white-space: pre-line;
}

#original {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
}

#original a {
    font-size: inherit;
    color: dodgerblue;
}

#original a:visited {
    color: #808;
}